@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

a {
  color: white;
  text-decoration: none;
}

.burger {
  position: absolute;
  visibility: hidden;
  margin: 0 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;
  height: 13px;
}
@media (max-width: 768px) {
  .burger {
    position: relative;
    visibility: visible;
  }
}

.burger__line {
  display: block;
  background: white;
  width: 100%;
  height: 1px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1920px;
}

.block-1__bg {
  z-index: 1;
  position: relative;
  background: linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
  background: url("../img/header/Rectangle 2.svg") 70% 78% no-repeat, url("../img/header/Subtract.svg") 63% 85% no-repeat, url("../img/header/group 805.svg")-6% 4% no-repeat, url("../img/header/group 805.svg") 39% 83% no-repeat, url("../img/header/image 285.svg") 103% 64.3% no-repeat, url("../img/header/image 285.svg") 102.3% 68% no-repeat, url("../img/header/image 285.svg") 97.5% 73% no-repeat, url("../img/header/image 285.svg") 93.5% 68.5% no-repeat, url("../img/header/image 285.svg") 93.5% 60% no-repeat, url("../img/header/image 285.svg") 82% 88% no-repeat, url("../img/header/image 285.svg") 88% 80% no-repeat, url("../img/header/image 285.svg") 87% 83% no-repeat, url("../img/header/image 285.svg") 77% 83% no-repeat, url("../img/header/image 285.svg") 77% 74% no-repeat, url("../img/header/image 285.svg")-2% 42% no-repeat, url("../img/header/image 285.svg") 19% 73% no-repeat, url("../img/header/image 285.svg") 18% 80% no-repeat, url("../img/header/image 285.svg") 8% 75% no-repeat, url("../img/header/image 285.svg")-5% 80% no-repeat, url("../img/header/image 285.svg") 103% 25% no-repeat, url("../img/header/image 285.svg") 102% 27% no-repeat, url("../img/header/image 285.svg") 97% 32% no-repeat, url("../img/header/image 285.svg") 93% 27% no-repeat, url("../img/header/image 285.svg") 93% 17% no-repeat, url("../img/header/image 285.svg") 37% 54% no-repeat, url("../img/header/image 285.svg") 50% 33% no-repeat, url("../img/header/vector 10.svg") 60% 20% no-repeat, url("../img/header/image 285.svg") 33% 39% no-repeat, linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
}
@media (max-width: 1024px) {
  .block-1__bg {
    background: url("../img/header/Subtract 2.svg") 10% 55% no-repeat, url("../img/header/Subtract 1.svg") 43% 10% no-repeat, linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
  }
}
.block-1__bg .decoration {
  position: absolute;
  width: 120px;
  height: 50px;
  background: url("../img/header/image 285.svg") 80% 40% no-repeat;
}
.block-1__bg .decoration-1 {
  top: 40%;
  left: 10%;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}
.block-1__bg .decoration-2 {
  top: 62%;
  left: 54%;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}
.block-1__bg .decoration-3 {
  top: 41%;
  left: 65.5%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
.block-1__bg .decoration-4 {
  top: 25.5%;
  left: -1.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block-1__bg .decoration-5 {
  top: 34%;
  left: -3%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block-1__bg .decoration_text {
  position: absolute;
  font-weight: 600;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.05);
}
@media (max-width: 768px) {
  .block-1__bg .decoration_text {
    display: none;
  }
}
.block-1__bg .decoration_text-1 {
  top: 20%;
  left: 1%;
}
.block-1__bg .decoration_text-2 {
  top: 10%;
  left: 34.5%;
}
.block-1__bg .decoration_text-3 {
  top: 10%;
  right: 22%;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
}
.block-1__bg .decoration_text-4 {
  top: 80%;
  right: 5%;
  font-size: 55px;
  color: rgba(255, 255, 255, 0.15);
}
.block-1__bg .decoration_text-5 {
  top: 73%;
  left: 48%;
}
.block-1__bg .decoration_text-6 {
  top: 52%;
  left: 55%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  max-width: 1462px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  max-height: 144px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}
@media (max-width: 768px) {
  .header:before {
    content: "";
    position: absolute;
    bottom: -30%;
    left: -30%;
    height: 50%;
    width: 160%;
    background: rgb(245, 249, 255);
    border-radius: 50%;
  }
}

.header__logo {
  margin: 0 0 0 70px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .header__logo {
    font-size: 15px;
  }
}
@media (max-width: 1440px) {
  .header__logo {
    margin: 0 0 0 15px;
  }
}

.header__links {
  list-style: none;
  margin: 0 20px;
  padding: 0;
  width: 941px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
@media (max-width: 768px) {
  .header__links {
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    position: absolute;
    top: -200%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .header__links._active {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    z-index: 100;
    top: 0;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%) no-repeat;
  }
}

.header__item {
  position: relative;
  display: inline;
}
.header__item:hover:before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -50%;
  left: 50%;
  width: 25px;
  height: 3px;
  background: linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
}

.header__btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
}
@media (max-width: 1024px) {
  .header__btns {
    width: 170px;
  }
}
@media (max-width: 768px) {
  .header__btns {
    width: 130px;
  }
}
@media (max-width: 425px) {
  .header__btns {
    width: 70px;
  }
}

.select {
  position: relative;
  height: 100%;
}
.select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top: 5px solid #2E3A59;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  pointer-events: none;
}

select {
  background: url("../img/header/image 253.svg") 20% 50% no-repeat white;
  outline: 0;
  border-radius: 5px;
  border: 0;
  width: 123px;
  height: 100%;
  margin: 0 5px 0 0;
  font-weight: 700;
  font-size: 17px;
  padding: 0 0 0 65px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (max-width: 1024px) {
  select {
    width: 70px;
    padding: 0 0 0 15px;
    background: white;
  }
}

.user {
  border-radius: 5px;
  width: 77px;
  height: 100%;
  background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
}
@media (max-width: 1024px) {
  .user {
    width: 60px;
  }
}
.user .user__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 425px) {
  .user {
    display: none;
  }
}

.block_text {
  position: relative;
  z-index: 99;
  padding: 80px 0 0 0;
  max-width: 680px;
  color: white;
}
@media (max-width: 1024px) {
  .block_text {
    padding: 40px 0 0 0;
    margin: 0 auto;
    text-align: center;
  }
}

.title {
  position: relative;
  font-size: 55px;
  font-weight: 800;
  line-height: 67px;
  margin: 0 0 60px 0;
}
.title img {
  position: relative;
  top: 7px;
  left: 3px;
}
@media (max-width: 425px) {
  .title img {
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
  }
}
.title:before, .title:after {
  content: " ";
  position: absolute;
  background: #FB8500;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 40px;
  height: 8px;
}
@media (max-width: 425px) {
  .title:before, .title:after {
    width: 22px;
    height: 5px;
  }
}
.title:before {
  top: 10px;
  left: -15px;
}
@media (max-width: 1024px) {
  .title:before {
    top: 5.5%;
    left: 9.5%;
  }
}
@media (max-width: 768px) {
  .title:before {
    top: 5%;
    left: 9.5%;
  }
}
@media (max-width: 425px) {
  .title:before {
    top: 5%;
    left: 14%;
  }
}
@media (max-width: 375px) {
  .title:before {
    top: 4%;
    left: 9.5%;
  }
}
@media (max-width: 320px) {
  .title:before {
    top: 4%;
    left: 2.5%;
  }
}
.title:after {
  top: -1px;
  left: -26px;
}
@media (max-width: 1024px) {
  .title:after {
    top: 1%;
    left: 8%;
  }
}
@media (max-width: 768px) {
  .title:after {
    top: 1%;
    left: 8%;
  }
}
@media (max-width: 425px) {
  .title:after {
    top: 1%;
    left: 12.5%;
  }
}
@media (max-width: 375px) {
  .title:after {
    top: 1%;
    left: 7.5%;
  }
}
@media (max-width: 320px) {
  .title:after {
    top: 0%;
    left: 1%;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 30px;
    margin: 0 auto;
    line-height: 36.5px;
    padding: 0 0 30px 0;
  }
}

.text {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
@media (max-width: 425px) {
  .text {
    font-size: 12px;
  }
}
.text span {
  display: block;
  margin: 40px 0 0 0;
}
.text:before {
  content: " ";
  position: absolute;
  top: -35px;
  left: 0;
  width: 110px;
  height: 5px;
  background: linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
}
@media (max-width: 1024px) {
  .text:before {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@media (max-width: 425px) {
  .text:before {
    height: 3px;
    top: -20px;
  }
}

.btns {
  margin: 45px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 100;
}
@media (max-width: 1024px) {
  .btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn {
  width: 240px;
  height: 78px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 375px) {
  .btn {
    width: 144px;
    height: 54px;
    font-size: 13px;
  }
}

.btns .btn__buy {
  background: url("../img/header/thin_big_right.svg") 80% 50% no-repeat, linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
}
@media (max-width: 375px) {
  .btns .btn__buy {
    margin: 0 0 17px 0;
    background: url("../img/header/thin_big_right.svg") 80% 50%/32px 18px no-repeat, linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  }
}

.btn__buy {
  margin: 0 35px 0 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.btn__buy span {
  margin: 0 0 0 40px;
}
@media (max-width: 768px) {
  .btn__buy span {
    margin: 0 0 0 20px;
  }
}
.btn__buy:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0px 0px 2px 2px orange;
          box-shadow: 0px 0px 2px 2px orange;
}
@media (max-width: 768px) {
  .btn__buy {
    margin: 0 0 20px 0;
  }
}

.btn__video {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn__video:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btns .btn__video {
  border: 1px solid rgb(169, 234, 255);
}
.btns .btn__video:hover {
  -webkit-box-shadow: 0px 0px 2px 2px rgb(169, 234, 255);
          box-shadow: 0px 0px 2px 2px rgb(169, 234, 255);
}

.amg_bottom {
  margin: 150px 0 -5px 0;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .amg_bottom {
    visibility: hidden;
  }
}

.amg {
  position: absolute;
  z-index: 1;
}

.amg_bottom2 {
  top: 170px;
  right: 0;
}
@media (max-width: 1024px) {
  .amg_bottom2 {
    display: none;
  }
}

.amg_bottom3 {
  max-width: 488px;
  top: 745px;
  left: 100px;
}
.amg_bottom3 img {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1024px) {
  .amg_bottom3 {
    top: 78%;
    left: 5%;
  }
}
@media (max-width: 475px) {
  .amg_bottom3 {
    max-width: 260px;
    top: 78%;
    left: 5%;
  }
}

.block-2__bg {
  position: relative;
  z-index: 100;
  background: rgb(245, 249, 255);
}

.container-block-2 {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left top-rigth" "left bottom-rigth";
}
@media (max-width: 1024px) {
  .container-block-2 {
        grid-template-areas: "top-rigth" "left" "bottom-rigth";
  }
}

.container__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 567px;
}
@media (max-width: 1024px) {
  .container__left {
    width: 100%;
  }
}

.btn-svg {
  fill: #AAAAAA;
  padding: 0 10px 0 0;
}

.svg-1 {
  width: 33px;
  height: 29px;
}

.svg-2 {
  width: 33px;
  height: 39px;
}

.svg-3 {
  width: 30px;
  height: 40px;
}

.left__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 73px;
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .left__btns {
    height: 54px;
  }
}
.left__btns a {
  margin: 0 5px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(170, 170, 170);
  width: 200px;
  height: 100%;
  background: white;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .left__btns a {
    width: 115px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
  }
}
.left__btns a:nth-child(3) {
  width: 135px;
}
@media (max-width: 1024px) {
  .left__btns a:nth-child(3) {
    width: 81px;
  }
}
.left__btns a:hover {
  color: white;
  background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
}
.left__btns a:hover .btn-svg {
  fill: white;
}

.left__btn {
  margin: 0 2px;
}

.left__img {
  position: relative;
  left: -4.5%;
}
@media (max-width: 1024px) {
  .left__img img {
    max-width: 212px;
    max-height: 412px;
  }
}
@media (max-width: 1024px) {
  .left__img {
    margin: 30px 0 0 0;
  }
}

.switch {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .switch {
    width: 135px;
  }
}
.switch .icon {
  width: 61px;
  height: 32px;
  fill: #E2E2E2;
}
@media (max-width: 1024px) {
  .switch .icon {
    width: 54px;
    height: 28px;
  }
}
.switch .icon:hover {
  fill: #0AA6FE;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
          box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
}

.container__left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

.container__rigth {
  width: 650px;
}
@media (max-width: 1024px) {
  .container__rigth {
    width: 100%;
  }
}

.rigth_first {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: top-rigth;
}

.rigth_second {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: bottom-rigth;
}

@media (max-width: 1024px){
  .container__left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .rigth_first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .rigth_second {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

.r_title-2 {
  margin: 30px 0 0 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
@media (min-width: 1024px) {
  .r_title-2 {
    display: none;
  }
}

.r_title {
  position: relative;
  margin: 30px 0 25px 0;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0em;
}
@media (max-width: 1024px) {
  .r_title {
    font-weight: 800;
    font-size: 30px;
  }
}
.r_title:before, .r_title:after {
  content: "";
  position: absolute;
  background: #FB8500;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 40px;
  height: 8px;
}
@media (max-width: 1024px) {
  .r_title:before, .r_title:after {
    width: 22px;
    height: 5px;
  }
}

@media (max-width: 1024px) {
  .title-mod-2 {
    width: 100%;
  }
}
.title-mod-2:before {
  top: 0;
  left: 18.5%;
}
@media (max-width: 1024px) {
  .title-mod-2:before {
    left: 14%;
  }
}
.title-mod-2:after {
  bottom: 0;
  right: 17.5%;
}
@media (max-width: 1024px) {
  .title-mod-2:after {
    right: 13%;
  }
}

.r_sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 1024px) {
  .r_sub-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 30px 0;
  }
}

.r_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px 0 0 33px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}
@media (max-width: 1024px) {
  .r_text {
    font-size: 12px;
    line-height: 15px;
    max-width: 280px;
    margin: 30px auto 0;
  }
}
.r_text span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justify;
}
@media (max-width: 1024px) {
  .r_text span {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}

.r_line {
  margin: 0 0 50px 0;
  position: relative;
}
@media (max-width: 1024px) {
  .r_line {
    margin: 0 0 25px 0;
  }
}
.r_line:last-child {
  margin: 0 0 70px 0;
}
@media (max-width: 1024px) {
  .r_line:last-child {
    margin: 0;
  }
}
.r_line:before {
  position: absolute;
  content: "";
  top: 5px;
  left: -25px;
  width: 10px;
  height: 10px;
  background: #FB8500;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.r_warning_text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 33px 0;
  background: white;
}
.r_warning_text img {
  margin: 0 15px -5px 0;
}
@media (max-width: 1024px) {
  .r_warning_text {
    display: none;
  }
}

.r_btns {
  margin: 55px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .r_btns {
    margin: 35px 0 0 0;
  }
}

.r__btn {
  background: url("../img/header/thin_big_right.svg") 80% 50%/44px 22px no-repeat, linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  width: 200px;
}
@media (max-width: 1024px) {
  .r__btn span {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 1024px) {
  .r__btn {
    width: 144px;
    height: 54px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 17px 0;
    background: url("../img/header/thin_big_right.svg") 80% 50%/32px 18px no-repeat, linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  }
}

.r_btn__video {
  background: #FF3B3B;
  width: 288px;
}
.r_btn__video:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0px 0px 0px 1px red;
          box-shadow: 0px 0px 0px 1px red;
}
.r_btn__video img {
  margin: 0 0 0 15px;
}
@media (max-width: 1024px) {
  .r_btn__video {
    display: none;
  }
}

.block-3__bg {
  position: relative;
  height: 601px;
  background: url("../img/main-block-3/outer2.svg") 88% 70% no-repeat, url("../img/main-block-3/outer1.svg") 80% 35% no-repeat, url("../img/main-block-3/Group809.svg") 103% 40% no-repeat, url("../img/main-block-3/Group809.svg")-1% 71% no-repeat, url("../img/main-block-3/outer.svg") 15% 60% no-repeat, url("../img/main-block-3/image331.svg")-3% 0% no-repeat, url("../img/main-block-3/image331.svg") 1% -9% no-repeat, url("../img/main-block-3/image329.svg") 99% 85% no-repeat, url("../img/main-block-3/image329.svg") 100% 105% no-repeat, url("../img/main-block-3/image329.svg") 87.5% 90% no-repeat, url("../img/main-block-3/image329.svg") 86% 100% no-repeat, url("../img/main-block-3/image334.svg") 85% 45% no-repeat, url("../img/main-block-3/image334.svg") 80% 25% no-repeat, url("../img/main-block-3/image334.svg") 18% 35% no-repeat, url("../img/main-block-3/image329.svg") 5% 85% no-repeat, url("../img/main-block-3/image329.svg")-5% 87% no-repeat, url("../img/main-block-3/image329.svg") 4% 97% no-repeat, url("../img/main-block-3/image329.svg")-6.5% 100% no-repeat, linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
  text-align: center;
}
.block-3__bg:before {
  position: absolute;
  content: "";
  top: -63%;
  left: -10%;
  right: -10%;
  height: 500px;
  background: rgb(245, 249, 255);
  border-radius: 55%/55%;
  z-index: 0;
}
@media (max-width: 1024px) {
  .block-3__bg:before {
    top: -107%;
    left: -50%;
    right: -50%;
  }
}
@media (max-width: 1024px) {
  .block-3__bg {
    background: url("../img/main-block-3/image367.svg") 90% 35% no-repeat, url("../img/main-block-3/image367.svg") 45% 88% no-repeat, url("../img/main-block-3/image362.svg") 6% 25% no-repeat, url("../img/main-block-3/image362.svg") 100% 20% no-repeat, url("../img/main-block-3/image362.svg") 100% 104% no-repeat, url("../img/main-block-3/image365.svg") 5% 104% no-repeat, url("../img/main-block-3/image365.svg") 42% 29% no-repeat, linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
    height: 415px;
  }
}

.title-mod-3 {
  display: inline-block;
  margin: 167px 0 0 0;
  color: white;
}
.title-mod-3:before {
  top: -15%;
  left: -4%;
}
.title-mod-3:after {
  top: 5%;
  left: -2%;
}
@media (max-width: 1024px) {
  .title-mod-3 {
    margin: 90px 0 0 0;
    font-size: 25px;
    max-width: 100%;
  }
}

.block-3-contain {
  border-radius: 5px;
  position: relative;
  margin: 77px auto 0;
  width: 826px;
  height: 241px;
  background: white;
}
.block-3-contain:before, .block-3-contain:after {
  position: absolute;
  color: white;
  font-family: Montserrat;
  font-size: 125px;
  font-weight: 600;
  letter-spacing: 0em;
}
@media (max-width: 1024px) {
  .block-3-contain:before, .block-3-contain:after {
    font-size: 80px;
  }
}
.block-3-contain:before {
  content: "“";
  top: -21%;
  left: -0.7%;
}
@media (max-width: 1024px) {
  .block-3-contain:before {
    top: -23%;
  }
}
.block-3-contain:after {
  content: "“";
  bottom: -22%;
  right: -0.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .block-3-contain:after {
    bottom: -23%;
  }
}
@media (max-width: 1024px) {
  .block-3-contain {
    width: 359px;
    height: 140px;
    margin: 60px auto 0;
    padding: 0 20px 0;
  }
}

.block {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  top: 50%;
  width: 115px;
  height: 115px;
  background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);
  border-radius: 15px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
          box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
}
.block:before {
  content: "";
  width: 20px;
  height: 36px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.block:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateY(-50%) rotate(45deg) scale(1.1);
          transform: translateY(-50%) rotate(45deg) scale(1.1);
}
@media (max-width: 1024px) {
  .block {
    display: none;
  }
}

.block-left {
  left: -57px;
}
.block-left:before {
  top: 54%;
  left: 46%;
  background: url("../img/main-block-3/left.svg") no-repeat;
}

.block-right {
  right: -57px;
}
.block-right:before {
  top: 50%;
  left: 56%;
  background: url("../img/main-block-3/right.svg") no-repeat;
}

.block-3-img {
  position: absolute;
  top: -55px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media (max-width: 1024px) {
  .block-3-img {
    top: -30px;
  }
}
@media (max-width: 1024px) {
  .block-3-img img {
    width: 65px;
  }
}

.block-3-title {
  position: relative;
  padding: 83px 0 0 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
}
@media (max-width: 1024px) {
  .block-3-title {
    font-size: 13px;
    padding: 40px 0 0 0;
  }
}

.block-3-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  width: 610px;
  margin: 20px auto 0;
}
@media (max-width: 1024px) {
  .block-3-text {
    margin: 5px auto 0;
    width: 100%;
    font-size: 11px;
    line-height: 13.41px;
  }
}

.switch-mod {
  margin: 50px auto 0;
  display: none;
}
@media (max-width: 1024px) {
  .switch-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}